#container {
    background-color: #2f9da3;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
body {
    font-family: "Arial";
    background-color: #aaadad;
}
#login {
    text-align: center;
}
#email {
    text-align: center;
}