body {
    font-family: "Arial";
    background-color: #EEEEEE;
}
a {
    text-decoration: none;
}

#container {
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#header {
    background-color: #1cffff;
    text-align: center;
    padding: 10px;
}
#content {
    padding: 10px;
    word-wrap: break-word;
}
#nav {
    width: 180px;
    float: left;
}
#main {
    width: 600px;
    float: right;
}
#footer {
    clear: both;
    padding: 10px;
    background-color: gray;
    color: white;
    text-align: right;
}
.selected {
    font-weight: bold;
    color: green;
}
#nav ul {
    list-style-type: none;
    padding: 0;
}
#header h1 {
    margin: 0;
}
#img {
    text-align: center;
}